:root {
  --dark-color: #171717;
  --secondary-color: #3c948b;
  --offwhite-color: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #141414;
  color: #fff;
}


/* Utilts */
.container {
  max-width: 1170px;
  margin: auto;
}

.btn {
  padding: 10px 17px;
  border: 1px solid var(--dark-color);
  background: var(--dark-color);
  color: var(--offwhite-color);
  margin: 1rem 0;
  font-size: 20px;
  cursor: pointer;
}

.btn:hover {
  color: var(--secondary-color);
}

.btn-block {
  display: block;
  width: 100%;
}






.floor-title {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.floor-title:not(:first-child) {
  margin-top: 1.5rem;
}

/* Homepage Styles */
.homepage__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* TODO 底部加载的 */
  min-height: 100vh; 
}

@media (min-width: 450px) {
  .homepage__list {
      grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 960px) {
  .homepage__list {
      grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1200px) {
  .homepage__list {
      grid-template-columns: repeat(5, 1fr);
    }
}
/* Homepage Styles */
.searchpage__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 450px) {
  .searchpage__list {
      grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 960px) {
  .searchpage__list {
      grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1200px) {
  .searchpage__list {
      grid-template-columns: repeat(5, 1fr);
    }
}

.slider-list .listitem {
  margin: 0;
}
.slider-list .xxl-scroll-slider-scrollbar {
  margin-left: auto;
  margin-right: auto;
}
.slider-list .xxl-scroll-slider-inner {
  scroll-padding-left: 24px;
}

.slider-list.xxl-scroll-slider-list {
  padding-left: 24px;
  box-sizing: border-box;
  justify-content: space-between;
}

.slider-list .xxl-scroll-slider-item {
  width: 140px;
  margin-left: 16px;
}

@media (min-width: 450px) {
  .slider-list .xxl-scroll-slider-item{
    width: 210px;
  }
}

.slider-list .xxl-scroll-slider-item:last-child {
  margin-right: 16px;
}

.cast-list .listitem {
  margin: 0;
}

.cast-list .xxl-scroll-slider-scrollbar {
  margin-left: auto;
  margin-right: auto;
}

.cast-list .xxl-scroll-slider-inner {
  scroll-padding-left: 24px;
}

.cast-list.xxl-scroll-slider-list {
  padding-left: 24px;
  box-sizing: border-box;
  justify-content: space-between;
}

.cast-list .xxl-scroll-slider-item {
  width: 80px;
  margin-left: 16px;
}

@media (min-width: 450px) {
  .cast-list .xxl-scroll-slider-item {
    width: 120px;
  }
}

.cast-list .xxl-scroll-slider-item:last-child {
  margin-right: 16px;
}

/* Single Show Page Styles */
.show-cast-item .item-content img {
  width: 100%;
}

.show-cast-item h2 {
  font-size: 1rem;
}
.show-cast-item h3 {
  font-size: 0.8rem;
}

/* About page Styles */
.about {
  margin: 2rem 0;
  width: 100%;
}

.about__title {
  font-size: 2rem;
  margin: 1rem;
}

.about__info {
  width: 500px;
  margin: auto;
}

.about__info > p {
  font-size: 1.4rem;
  margin: 1rem 0;
}

.about__info > div > ul > li {
  margin-left: 2rem;
  padding: 0.5rem;
}

